body {
}

#newAdvertForm, #loginForm, #registrationForm {
            margin: 120px 330px;
}

.container {
    margin-top: 80px;
}

.tbTitle_margin, .tbContent_margin, .img_maring, .newImage_margin {
    margin-bottom: 10px;
}

.ddl_margin {
    margin-top: 19px;
    margin-left: 10px;
}
